<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzhu.book.mapper.BookInfoMapper">

    <resultMap id="BaseResultMap" type="com.shanzhu.book.model.BookInfo">
        <id column="bookId" jdbcType="INTEGER" property="bookid" />
        <result column="bookName" jdbcType="VARCHAR" property="bookname" />
        <result column="bookAuthor" jdbcType="VARCHAR" property="bookauthor" />
        <result column="bookPrice" jdbcType="DECIMAL" property="bookprice" />
        <result column="bookTypeId" jdbcType="INTEGER" property="booktypeid" />
        <result column="bookTypeName" jdbcType="VARCHAR" property="booktypename" />
        <result column="bookDesc" jdbcType="VARCHAR" property="bookdesc" />
        <result column="isBorrow" jdbcType="TINYINT" property="isborrowed" />
        <result column="bookImage" jdbcType="VARCHAR" property="bookimg" />
        <result column="bookCount" jdbcType="INTEGER" property="bookcount" />
        <result column="inventory" jdbcType="INTEGER" property="inventory" />
    </resultMap>

    <sql id="Base_Column_List">
        bookId, bookName, bookAuthor, bookPrice, bookTypeId, bookDesc, isBorrow, bookImage, bookCount, inventory
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from book_info
        order by bookId desc
    </select>

    <insert id="insert" parameterType="com.shanzhu.book.model.BookInfo">
        insert into book_info (bookName, bookAuthor, bookPrice, bookTypeId, bookDesc, isBorrow, bookImage, bookCount, inventory)
        values (#{bookname}, #{bookauthor}, #{bookprice}, #{booktypeid}, #{bookdesc},
                #{isborrowed}, #{bookimg}, #{bookcount}, #{inventory})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.shanzhu.book.model.BookInfo">
        update book_info
        <set>
            <if test="bookname != null"> bookName = #{bookname}, </if>
            <if test="bookauthor != null"> bookAuthor = #{bookauthor}, </if>
            <if test="bookprice != null"> bookPrice = #{bookprice}, </if>
            <if test="booktypeid != null"> bookTypeId = #{booktypeid}, </if>
            <if test="bookdesc != null"> bookDesc = #{bookdesc}, </if>
            <if test="isborrowed != null"> isBorrow = #{isborrowed}, </if>
            <if test="bookimg != null"> bookImage = #{bookimg}, </if>
            <if test="bookcount != null"> bookCount = #{bookcount}, </if>
            <if test="inventory != null"> inventory = #{inventory}, </if>
        </set>
        where bookId = #{bookid}
    </update>

    <select id="selectBySearch" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />,
        (select bookTypeName from book_type where book_type.bookTypeId = book_info.bookTypeId) as bookTypeName
        from book_info
        <where>
            <if test="bookname != null and bookname != '' "> and bookName like concat('%',#{bookname},'%') </if>
            <if test="bookauthor != null and bookauthor != '' "> and bookAuthor like concat('%',#{bookauthor},'%') </if>
            <if test="booktypeid != null"> and bookTypeId = #{booktypeid} </if>
        </where>
        limit #{begin}, #{size}
    </select>

    <select id="selectAllByLimit" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />,
        (select bookTypeName from book_type where book_type.bookTypeId = book_info.bookTypeId) as bookTypeName
        from book_info
        order by bookId desc
        limit #{begin}, #{size}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from book_info where bookId = #{bookid}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from book_info
    </select>

    <select id="selectCountBySearch" resultType="int">
        select count(*) from book_info
        <where>
            <if test="bookname != null and bookname != '' "> and bookName like concat('%',#{bookname},'%') </if>
            <if test="bookauthor != null and bookauthor != '' "> and bookAuthor like concat('%',#{bookauthor},'%') </if>
            <if test="booktypeid != null"> and bookTypeId = #{booktypeid} </if>
        </where>
    </select>

    <select id="selectCountByType" resultType="int">
        select count(*) from book_info where bookTypeId = #{booktypeid}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from book_info where bookId = #{bookid}
    </delete>
</mapper>