<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzhu.book.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.shanzhu.book.model.User">
        <id column="userId" jdbcType="INTEGER" property="userid" />
        <result column="userName" jdbcType="VARCHAR" property="username" />
        <result column="studentId" jdbcType="VARCHAR" property="studentid" />
        <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
        <result column="isAdmin" jdbcType="INTEGER" property="isadmin" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        userId, userName, studentId, userPassword, isAdmin, status
    </sql>

    <select id="selectByUserName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from user
        where studentId = #{username}
    </select>

    <select id="selectCountByUserName" resultType="java.lang.Integer">
        select count(*) from user where studentId = #{username}
    </select>

    <insert id="insert" parameterType="com.shanzhu.book.model.User">
        insert into user (userName, studentId, userPassword, isAdmin, status)
        values (#{username}, #{studentid}, #{userpassword}, #{isadmin}, 0)
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.shanzhu.book.model.User">
        update user
        <set>
            <if test="username != null"> userName = #{username}, </if>
            <if test="userpassword != null"> userPassword = #{userpassword}, </if>
            <if test="status != null"> status = #{status}, </if>
        </set>
        where userId = #{userid}
    </update>

    <select id="selectAllByLimit" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from user
        <where>
            <if test="user != null and user.username != null and user.username != ''">
                and (userName like concat('%',#{user.username},'%') OR studentId like concat('%',#{user.username},'%'))
            </if>
        </where>
        order by status asc, userId desc
        limit #{begin}, #{size}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from user
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from user where userId = #{userid}
    </select>

    <delete id="deleteByPrimaryKey">
        delete from user where userId = #{userid}
    </delete>
</mapper>